*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif
}
.container{
    background: linear-gradient(150deg, rgb(61, 61, 236),green);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main{
    padding-top: 10px;
    width: 320px;
    height: 60vh;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: white;
    overflow: hidden;
    gap: 1rem;
    box-shadow: 10px 0 10px 5px #003636;
}
.search{
    width: 100%;
    height: 5vmin;
    display: flex;
    justify-content: center;
    /* gap: 1rem; */
}
.search input{
    height: 100%;
    width: 80%;
    background: lightblue;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding-left: 5px;
}
.search button{
    width: 15%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    background: white;
   
}
.icone{
    margin-top: 20px;
    height: 20%;
    font-size: 5em;
}
.temp{
    height: 35%;
    font-size: 5vmin;
    text-align: center;
}
.weather{
    height: 20%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 5vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
